@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@font-face {
  font-family: "Nordique Pro";
  src: url('./fontspring-demo-nordiquepro-bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #12141c;
}

::-webkit-scrollbar-thumb {
  background: #3a3f4b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #07bed5;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}
